  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h1><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h1>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <h1>Enter Detailed Information of New User</h1>
      <div class="field">
        <%= f.label :name, "Name" %><br>
        <%= f.text_field :name, size: 40 %>
      </div>
      <div class="field">
        <%= f.label :password, "Password" %><br>
        <%= f.password_field :password, size: 40 %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirm" %><br>
        <%= f.password_field :password_confirmation, size: 40 %>
      </div>
      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-danger btn-sm"%>
        <%= link_to 'Back', users_path, class: "btn btn-default btn-sm"%>
      </div>
    </fieldset>
  <% end %>  

			