<!-- Banner Start -->
  <div class="banner padd">
    <div class="container">
      <!-- Image -->
      <%= image_tag("crown-white.png", class: "img-responsive") %>
      <!-- Heading -->
      <h2 class="white">List of Feedback</h2>
      <ol class="breadcrumb">
        <li>Home</li>
        <li>Feedback</li>
        <li class="active">List of Feedback</li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- Banner End -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">

        <div class="table-responsive" style = "margin-top:40px">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Feedback</th>
                <th colspan="3"></th>
              </tr>
            </thead>
          
            <tbody>
              <% @contacts.each do |contact| %>
                <tr>
                  <td><%= contact.name %></td>
                  <td><%= contact.email %></td>
                  <td><%= contact.feedback %></td>
                  <td><%= link_to 'Show', contact %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>




